<h1><a href='/'>Dashboard</a></h1>
<h2 class='text-center'>Water is <%= @garden.read ? 'ON' : 'OFF' %>
<form action="/" method="POST">
  <div class="form-group form-row">
    <div class='col'>
      <input type="submit" name="commit" value="water-on" class="form-control btn btn-success" <%= 'disabled' if @garden.read %>>
    </div>
    <div class='col'>
      <input type="submit" name="commit" value="water-off" class="form-control btn btn-danger" <%= 'disabled' unless @garden.read %>>
    </div>
  </div>
  <div class="form-group form-row">
    <div class="col">
      <input type="submit" name="commit" value='UP' class="form-control btn btn-primary">
    </div>
    <div class="col">
      <input type="submit" name="commit" value="DOWN" class="form-control">
    </div>
  </div>
</form>
<h2>Current Temperature <%= @t1.read %></h2>

<canvas id='temperatures' width='100%' data-temperatures='<%= @temperatures.map{|t| t.celsius}.to_json %>' data-labels='<%= @temperatures.map{|t| t.created_at}.to_json %>'></canvas>
<script>
document.addEventListener('DOMContentLoaded', function(){ 
  var el = document.getElementById("temperatures")
  var ctx = el.getContext('2d')
  var data = JSON.parse(el.dataset.temperatures)
  var labels = JSON.parse(el.dataset.labels)

  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: labels,
      datasets: [
      {
        data: data,
        label: 'Tavan',
      },
      ]
    }
  })
}, false);
</script>
